.inner_banner_section{
	position: relative;
    padding-top: 65px;
  }
  
  .inner_banner_section > img{
	width: 100%;
  }
  .banner_content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;

    // .container{
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;
    //     /* height: 100%; */
    //     max-width: 100%;
    // }
  }

	@media only screen and (max-width: 600px) {
	  .inner_banner_section > img {
		height: 170px;
	  }
	}
.contact_page{
    .contact_input_fields{
        .MuiInputBase-input{
          padding: 12px !important;
        }
        .MuiInputBase-input:focus{
          box-shadow: none !important;
          
        }
    }
    .contact_message_field{
        textarea:focus{
          box-shadow: none !important;
        }
    }
    .error-message {
        color: red;
        font-size: 0.875rem;
        margin-top: 4px;
        margin-left: -10px;
  }
}
